* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  width: 16px;
  height: 16px;
  margin: 2px;
  /* 2초 지나면 색이 사라짐 */
  transition: 2s ease;
}

.square:hover {
  /* 마우스를 올렸을 때 바로 색이 나타나도록 */
  transition-duration: 0s;
}
